<div class="container">
  <div class="card">
    <!-- Card header -->
    <div class="card-header">
      <h3 class="mb-0">プロフィール</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <div class="d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-4 mb-lg-0">
          <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
          <div class="ms-3">
            <h4 class="mb-3"><%= @user.name %></h4>
          </div>
          <div class="mb-3 ms-5">
            <% if @user != current_user %>
              <% if current_user.following(@user) %>
                <%= link_to 'フォローを外す', relationship_path(user_id: @user.id), class:'btn-sm btn-danger', method: :delete %>
              <% else %>
                <%= link_to 'フォローする', relationships_path(user_id: @user.id), class:'btn-sm btn-success', method: :post %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <hr class="my-5">
      <div>
        <div>
          <span>Hobby</span>
          <p><%= @user.hobby %></p>
        </div>
        <div>
          <span>Profile</span>
          <%= simple_format @user.profile %>
        </div>
      </div>
    </div>
  </div>
</div>
